@model EntityLayer.Concrete.Skill;
@{
    ViewData["Title"] = "AddSkill";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<h1>AddSkill</h1>
<br />
<form class="form-group" method="post">
    @Html.Label("Yetenek Başlığı")
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Title, "", new { @class = "text-danger" })
    @Html.Label("Yetenek Değeri")
    @Html.TextBoxFor(x => x.Value, new { @class = "form-control", Type="number" })
    @Html.ValidationMessageFor(x => x.Value, "", new { @class = "text-danger" })
    <input type="submit" class="form-control btn btn-primary"/>
</form>